.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
